body{
	margin: 0;
	padding:0;
	font-family: montserrat;
	background-color: lightskyblue;
	height:100vh;
	overflow:hidden;
}
 .login-container{
 	position:absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	max-width:400px;
 	margin: auto;
 	background-color: white;
 	padding: 20px;
 }
 

 